<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd"><suite name="All Test Suite"><test verbose="2" preserve-order="true" name="C:/Users/amlan/IdeaProjects/ATB6xRestAssured"><classes><class name="Full_CRUD_E2E.Full_CRUD"><methods><include name="UpdateBookingID"/><include name="GetBookingInfo"/><include name="DeleteBookingID"/></methods></class></classes></test></suite>